.footer {
  
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  font-size: (--text-caption);
  text-align: center;
  background-color: rgb 18 27 49;
}

.footer a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.footer a:hover {
  color: var(--link-hover);
}

@media (max-width:500px) {
  .footer {
    font-size: 15px;
  }
}
