---
layout: layouts/full.njk
title: Inicio
eleventyNavigation:
  key: index
  title: Home
---


<div class= " home-slide">
  

  <img src="/assets/images/principal1.jpg">
  
  <a href="/#/" class="font-2 home-title">
    Israel<br>
    Delgado<br>
    Blanco<br>
  </a>
  <a href="/#/" class="home-subtitle">
    Ilustracion Vectorial <br>
    Diseño UI/UX
    

  </a>
  
</div>

<div class= " home-slide">
  
  <img src="/assets/images/principal2.jpg">
  <a href="/diseños/" class="font-2 home-subheader">
     ¿Quieres ver algunos<br> de mis diseños?
  </a>
</div>


