---
layout: layouts/base.njk
title: Quien soy
eleventyNavigation:
  key: quiensoy
  title: Quien soy
  order: 3
---

   

  

<div class="col-6 col-md-5 col-sm-4 col-xs-6 ilustracion-texto">
  <h1 class="text-headline font-2">Quien soy</h1>
  <p class="p_texto ">
      Hola soy Israel:<br><br>

      Siempre fui un niño soñador, me encantaba dibujar personajes y crear historietas. En el colegio era de esos niños que tienen el libro dibujado de punta a punta, está claro que mi primer contacto con el arte y el diseño fue en la niñez.<br> <br>

      Ya en el instituto conseguí que la profesora me dejara hacer cómics sobre el temario en lugar de hacer "clase normal", y así aprobé las asignaturas que ella impartía, esa fue la primera vez que utilizaba mi talento para conseguir metas, y me di cuenta que era donde yo me sentía a gusto, lo tenia claro…. “yo quería ser dibujante”.<br><br>

      Me encanta aprender cosas nuevas constantemente, siempre estoy experimentando y buscando maneras de explotar mi creatividad, tan pronto estoy pintando un cuadro, como estoy tatuandome la pierna o programando un videojuego.<br><br>

      Además de la ilustración, otra de las cosas que mas me apasionan es diseñar y desarrollar sitios web, creo que es un mundo donde enlazan muy bien  2 de mis 3 pasiones, el arte y la programación.
      Mi tercera  pasión es salir con mi familia y la “camper” los fines de semana a descubrir sitios maravillosos.<br><br>

      Mis herramientas habituales son el portátil junto a mi querido y amado compañero “Ilustrator” y su primo "Photoshop", lapices, papel, pintura, pinceles….cualquier cosa que pinte me vale!<br><br>

      Tengo habilidades en Photoshop, Ilustrator, HTML5, CSS, Javascript, 11ty/eleventy, Linux... actualmente me encuentro realizando un curso online de especializacion en UI/UX avalado por el California institute of the arts mediante la plataforma Coursera.<br><br>

      La verdad es que nunca me pude dedicar profesionalmente a mi pasion, tuve que trabajar en otros tipos de trabajos donde nunca me he sentido realizado, hay que decir que todos los diseños que hay en la web los he realizado después de un duro día de trabajo (incluida la web), a las tantas de la noche.<br><br>

      Ahora las circunstancias han cambiado, la vida me ha dado un vuelco y creo que es el momento de dedicarme en cuerpo y alma a mi pasión...nunca es tarde.
  </p>
</div>

<div class="col-6 col-md-5 col-sm-4 col-xs-6 imagen1">
  
 
  <a data-fancybox="gallery" class="quien-soy-foto " href="/assets/images/yo.jpg">
    <img  class="imagenYo" src="/assets/images/yo.jpg">
  </a>
</div>



