---
layout: layouts/base.njk
title: Que opinan de mi
eleventyNavigation:
  key: reseñas
  title: Reseñas
  order: 4
---

   

  

<div class="col-5 col-md-4 col-sm-3 col-xs-6 quien-soy-titulo">
  <h1 class="font-2 text-headline">Reseñas</h1>
</div>

<div class="col-6 quien-soy-content">
  
  <p class="p_texto">
    
    <blockquote>"He did an excelent work.<br>He knew what would satisfy me.<br>I gave him examples and he sent me a couple of ideas back.<br>Also whatever change I asked he never complained.I would hire him again."</blockquote>
    <strong>Georgios A.</strong><br><br><hr><br><br>
  </p>
  <p>
    <blockquote>"Devlanko was fast, professional and did the small changes fast and to my complete satisfaction."</blockquote>
    <strong>Carsten W</strong><br><br><hr><br><br>
  </p>
  <p><blockquote>"... he was very patient, friendly, professional and most of all skilled in accomplishing the instructions i set fourth for him to do. Handled all my revisions i could throw at him and did them all without a single complaint whatsoever. This is my guy for Vector art. Definitely will be using him again for future projects."</blockquote><strong>Faron W.</strong>
</p>
</div>
